button {
    display: block;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;   
}

button.primary {    
    background: #00f;
    padding: 15px;
    border: none;    
    color: #fff;    
}

button.secondary {    
    background: #fff;
    padding: 14px;
    border: 2px solid #00f;  
    color: #000;      
}

button[disabled] {    
    background: #aaa;    
    color: #eee;
    border: none;
    cursor: not-allowed;   
}